<nav>
	<div class="nav-wrapper">
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">swatch</i></a>
		<ul class="right hide-on-med-and-down">
			
			<li>
				<% if current_user %>
					<%= link_to "Sign out", signout_path, id: "sign_out" %>
				<% end %>
			</li>
			
		</ul>
		<ul class="side-nav" id="mobile-demo">
			
			<li>
				<%= link_to "Facebook Login", "/auth/facebook" %>
			</li>
			<li>
				<% if current_user %>
					<%= link_to "Sign out", signout_path, id: "sign_out" %>
				<% end %>
			</li>
		</ul>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col s12">
			<h1>Welcome Home <%= current_user.name %>!</h1>
			<h3>A house holds all of your projects and keeps them together. Click on the button below to fill out some information on your home. Be as specific of vague as you like. Then you can begin adding projects!</h3>
			<div id="show">
			<h4>Current Homes</h4>
			<ul>
				<% @user_houses.each do |house| %>
				<li>
					<a href="/houses/<%=house.id%>" class="house-title"><%= house.title %></a>
				</li>
				<% end %>
			</ul>
			</div>
			<a href="<%= new_house_path %>" class="btn-large">Start a new house!</a>
		</div>
	</div>	
</div>


