<h2><%= @house.title %> </h2>
<h3><strong>By:</strong> <%= current_user.name %></h3>

<p><%= @house.content %></p>
<%= link_to image_tag(@house.image.url(:large)), @house.image.url %>
<div id="show">
	<ul>
		<% @project.each do |project| %>
		<li>
			<%= link_to project.title, house_project_path(@house, project) %> 
		</li>
		<% end %>
	</ul>
<%= link_to 'New Project!', new_house_project_path(@house, @project) %>

<% if current_user == @house.user_id %> 
	<%= link_to "Delete House", house_path(@house), method: :delete, data: {confirm: "Deleting your house will also delete all projects and comments inside it!"} %>

	<%= link_to "Edit House", edit_house_path(@house) %>
<% end %>