  <%= stylesheet_link_tag    "splash", media: "all", "data-turbolinks-track" => true %>
<nav>
	<div class="nav-wrapper">
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">swatch</i></a>
		<ul class="right hide-on-med-and-down">
			<li><%= link_to "Back to Homes", houses_path(@house), :class => 'btn-large' %></li>
			<li>
				<% if current_user %>
					<%= link_to "Sign out", signout_path, id: "sign_out" %>
				<% end %>
			</li>
			
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><%= link_to "Back to Homes", houses_path(@house), :class => 'btn-large' %></li>
			<li>
				<%= link_to "Facebook Login", "/auth/facebook" %>
			</li>
			<li>
				<% if current_user %>
					<%= link_to "Sign out", signout_path, id: "sign_out" %>
				<% end %>
			</li>
		</ul>
	</div>
</nav>
<div class="background-wrapper">	
	<div class="container">
		<div class="background">
			<div class="desktop-logo">
				<h1>Swatch</h1>
					<p>Record your projects, share your progress.</p>
			</div>

			<div class="mobile-logo valign-wrapper">
				<h1 class="valign">S</h1>
			</div>
		</div>
	</div>
	
</div>

	<p class="mobile-mission">
		Record your projects,
		share your progress.
	</p>

	<p class="desktop-mission">
		Record the momentous milestones in turning your house into a home. Share your victories (and defeats) with your friends, family, and the world.
	</p>

<div class="container">
	<div class="row">
		<div class="col s12 button-wrapper">
			<div class="big-red-btn">
				<%= link_to "Facebook Login", "/auth/facebook", class: "btn-large" %>
			</div>
		</div>
	</div>
</div>