<h2><%= @project.title %> </h2>
<!-- <h3><strong>By:</strong> <%#= current_user.name %></h3> -->
<p>
  Tags:
  <% @project.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<p><%= @project.content %></p>

	

<%= image_tag @project.image.url %>

<h3>Comments</h3>
<%= render partial: 'projects/comment', colection: @project.comments %>

<%= link_to "Edit", edit_project_path(@project) %> 
<%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure you want to do this?"} %>

<%= render partial: 'comments/form' %>
