
<h1>this is fucking bullshit.</h1>
<h2><%= @project.title %> </h2>
<h3><strong>By:</strong> <%= current_user.name %></h3>
<p><%= @project.content %></p>


<a href="/projects/<%=@project.id%>/edit">Edit</a>
<%= link_to 'Delete', @project, method: :delete %>
