 <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1623266214592881',
          xfbml      : true,
          version    : 'v2.4'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

      FB.ui({
  method: 'share_open_graph',
  action_type: 'og.likes',
  action_properties: JSON.stringify({
    object:'https://developers.facebook.com/docs/',
  })
}, function(response){
  // Debug response (optional)
  console.log(response);
});
 </script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=811341652298473";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<h2><%= @project.title %> </h2>

<div class="fb-share-button" data-href="http://localhost:3000/projects/2" data-layout="button_count"></div>
<h3><strong>By:</strong> <%= current_user.name %></h3>
<p>
  Tags:
  <% @project.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<p><%= @project.content %></p>

	
  
    <div class="container">
      <ul>
        <div class="row">
          <div class="col s12">
             <% @project.attachments.each_with_index do |image, index| %>
            <li>

                <%= image_tag image.url(), :class => 'responsive-img' %>
                <ul>
                    <li> <%= @project.each_note[index] %> </li>
                </ul>
                
            </li>
        <% end %>
          <%= link_to "Edit", edit_house_project_path(@house, @project), :class => 'btn-large' %> 
          <%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure you want to do this?"}, :class => 'btn-large' %>
          </div>
        </div>
      </ul>
    </div>


<div class="container">
  <div class="row">
    <div class="col s12">
      <!-- <h3>Comments</h3>
      <%= render partial: 'projects/comment', collection: @project.comments %>
      <%= render partial: 'comments/form' %> -->
    </div>
  </div>
</div>
